.pageWrap {
  position: relative;
}

.backgroundWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    #252a7a 0%,
    #252a7a 0.01%,
    rgba(37, 42, 122, 0) 100%
  );
}
.desktop {
  .backgroundWrap {
    min-width: 1200px;
    height: 1830px;
  }
}

.mobile {
  .backgroundWrap {
    height: 1263px;
    right: 0;
  }
}

.desktop {
  .bannerPart {
    width: 100%;
    height: calc(100vh);
    position: relative;
    padding: 0;
    overflow: visible;

    .bannerImg {
      width: 675px;
    }

    .partContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    .bannerLeft {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bannerTitle {
      font-size: 50px;
      line-height: 70px;
      color: #fff;
      margin-bottom: 20px;
      font-weight: 600;
    }
    .bannerSubTitle {
      font-size: 15px;
      line-height: 24px;
      color: #fff;
    }
  }
}

.mobile {
  .bannerPart {
    padding-top: 12vw !important;
    .partContent {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 !important;
    }
    .bannerImg {
      width: 100%;
    }
    .bannerLeft {
      margin-top: -35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      color: #fff;
    }
    .bannerTitle {
      font-size: 32px;
      font-weight: 800;
      line-height: 44px;
      text-align: center;
      margin-bottom: 24px;
    }
    .bannerSubTitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: #fff;
    }
  }
}

.desktop {
  .labsPart {
    .partContent {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .labsImg {
      width: 755px;
    }

    .labsContent {
      padding-left: 50px;

      .labsDescription {
        color: #fff;
        font-size: 25px;
      }
    }
  }
}
.mobile {
  .labsPart {
    .partContent {
      display: flex;
      flex-direction: column;
      padding: 0 !important;
    }
  }

  .labsImg {
    width: 100%;
  }
  .labsContent {
    margin-top: -20px;
    padding: 0 20px;
    .labsDescription {
      color: #fff;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
    }
  }
}

.desktop {
  .supportListWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;

    .supportItemWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
    .supportItemImg {
      width: 64px;
    }
    .supportItemTitle {
      margin-top: 40px;
      color: #fff;
      font-size: 25px;
    }
    .supportItemContent {
      margin-top: 12px;
      color: #fff;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
    }
  }
  .specialBlock {
    width: 90px;
    height: 15px;
    background-color: #554de5;
    margin-bottom: 30px;
  }
}

.mobile {
  .supportListWrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .supportItemWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .supportItemImg {
    width: 48px;
  }
  .supportItemTitle {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #fff;
  }
  .supportItemContent {
    margin-top: 12px;
    padding: 0 22.5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }
}

.desktop {
  .toolPart {
    .partContent {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
    .toolCardCol {
      display: flex;
      justify-content: space-between;
      flex: 1;
      flex-shrink: 0;
      flex-direction: column;
    }
    .toolCardMainCol {
      background-color: #282828;
      border-radius: 8px;
    }
    .toolLabImgWrap {
      margin: 67px 36px 0;
    }

    .toolItemLatestWrap {
      margin-top: 50px;
    }
  }
}
.mobile {
  .toolPart {
    .partContent {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .toolCardCol {
        .toolItemLatestWrap {
          margin-top: 16px;
        }
      }
    }
  }
}

.applyContent {
  display: flex;
  justify-content: center;
  align-items: center;

  .btnWrap {
    display: block;
    border-radius: 6px;
    text-align: center;
    background-color: #fff;
    color: #000;
  }
}
.desktop {
  .applyContent {
    .btnWrap {
      width: 1000px;
      height: 80px;
      line-height: 80px;
      font-size: 18px;
    }
  }
}
.mobile {
  .applyContent {
    .btnWrap {
      margin-top: 21px;
      width: 180px;
      height: 60px;
      line-height: 60px;
      font-size: 14px;
    }
  }
}
